@import "tailwindcss";

/* MAIN COLORS */
:root {
  --color-sidebar: #A8C9D8;
  --color-background: #FCFBF3;
  --color-footer: #D6DBDF;
  --color-icon-green: #B3E2AF;
}

/* BASE STYLES */
@layer base {
  body {
    background-color: var(--color-background);
    color: #111827; 
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}